body {
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100%;
   
 /*   margin-left: 145px;*/
 /* do I need these screen-values? 
Or why isn't the elements using the whole screen? */
}



/* ------- NAVIGATION --------- */

header {
    display: flex;
    position: relative;
    position: sticky;
       
}

.header__logo {
    position: absolute;
    width: 185px;
    height: 32px;
    left: 144px;
    margin-top: 45px;
    margin-left: 1071px;
    margin-bottom: 24px;
    margin-left: 144px;
}

.nav__list {
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #1B0A42;
    text-align: right;
    gap: 40px;
    list-style: none;
    margin-top: 44px;
    margin-right: 400px;
    margin-bottom: 26px;
    margin-left: 650px;
}

    #nav__btn-signin {
        position: absolute;
        width: 102px;
        height: 46px;
        border: 1px;
        border-color: rgba(188, 208, 229, 1);

        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: rgba(23, 58, 86, 1);

        margin-top: 35px;
        margin-right: 269px;
        margin-bottom: 17px;
        margin-left: 1029px;
    }

    #nav__btn-signup {
        position: absolute;
        width: 110px;
        height: 46px;
        border: 1px;
        background-color: rgba(255, 153, 0, 1);
       
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 1);

        margin-top: 35px;
        margin-right: 145px;
        margin-bottom: 17px;
        margin-left: 1145px;
    }




/* -------- SECTION 1 ------ */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    width: 518px;
    height: 108px;
    margin-top: 211px;
    margin-left: 145px;
    color: rgba(47, 40, 30, 1);
}

.section1__section__text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    width: 458px;
    height: 95px;
    margin-top: 30px;
    margin-left: 145px;
}

#section1__btn-getstarted {
    width: 175px;
    height: 53px;
    border: none;
    margin-left: 145px;
    background-color: rgba(255, 153, 0, 1);

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1)
}

#icon-play {
    width: 20px;
    height: 17px;
    margin-left: 17.5px;
}

.icon-play-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: underline; 
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    width: 135px;
    height: 24px;
    margin-left: 8.5px;
    color: rgba(255, 153, 0, 1);
}

.section1 {
    position: relative;
}

.section1__section2 {
    position:absolute
    

}



/* -------- SECTION 2 ------ */

.section2__h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: center;
    width: 539px;
    height: 108px;
}

.card {
    display: flex;
    justify-content: space-around;
}

.card__h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    width: 192px;
    height: 33px;
}

.card__text {
    flex-wrap: wrap;
    width: 240px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;

    width: 240px;
    height: 78px;
    top: 46px;
}
/* 2 DO ==> titta på stylingen ovan! */

#section2__btn-signupnow {
    width: 175px;
    height: 53px;
    border: none;
    background-color: rgba(255, 153, 0, 1);

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 15px;
    margin-left: 34px;
    color: rgba(255, 255, 255, 1)
}



/* -------- SECTION 3 ------ */

.section3__h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    width: 385px;
    height: 54px;
    margin: 0px;
    color: rgba(47, 40, 30, 1);
}

.section3__h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 211px;
    height: 26px;
    color: rgba(47, 40, 30, 1);
}

.section3__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 486px;
    height: 52px;
}

.section3__text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 146px;
    margin-bottom: 5px;
    margin-left: 145px;
}

.section3__text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 486px;
    height: 78px;
    top: 103px;
    margin-top: 22px;
    margin-bottom: 30;
}


/* -------- SECTION 4 ------ */

.section4__text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5px;
}

.section4__h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    width: 385px;
    height: 54px;
    margin: 0px;
    color: rgba(47, 40, 30, 1);
}

.section4__text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 486px;
    height: 78px;
    top: 103px;
    margin-top: 22px;
    margin-bottom: 30;
}


.checklist__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 385px;
    height: 52px;
    margin-left: 30px;
    margin-bottom: 30px;
}


/* -------- SECTION 5 ------  */

.section5__h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    width: 385px;
    height: 54px;
    margin: 0px;
    color: rgba(47, 40, 30, 1);
}

.section5__h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 211px;
    height: 26px;
    color: rgba(47, 40, 30, 1);
}

.section5__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 486px;
    height: 52px;
}

.section5__text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 146px;
    margin-bottom: 5px;
    margin-left: 145px;
}

.section5__text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    width: 486px;
    height: 78px;
    top: 103px;
    margin-top: 22px;
    margin-bottom: 30;
}


/* -------- FOOTER ------  */

footer {
    position: relative;
    padding-bottom: 100px;
}

#footer__logo {
    margin-top: 102px;
    margin-left: 159px;
    position: absolute;
}

.footer__ul_1, .footer__ul_2 {
    flex-direction: row;
    position: absolute;
}

.footer__ul_1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    width: 72px;
    height: 140px;
    margin-top: 167px;
    margin-left: 484px;
    color: rgba(84, 72, 55, 1);
    list-style: none;
}

.footer__ul_2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    width: 132px;
    height: 140px;
    margin-top: 167px;
    margin-left: 731px;
    color: rgba(84, 72, 55, 1);
    list-style: none;
}

#footer__signup-box {
    width: 325px;
    height: 48px;
    border: 1px;
    border-style: solid;
    border-color: rgba(188, 208, 229, 1);
    margin-top: 193px;
    margin-right: 131px;
    margin-bottom:149px;
    margin-left: 944px;
    position: absolute;
}

#footer__btn-signup {
    width: 131px;
    height: 39px;
    background-color: rgba(255, 153, 0, 1);
    border: none;
    margin-top: 262px;
    margin-right:325px;
    margin-bottom: 89px;
    margin-left: 944px;
    position: absolute;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}